# @package _global_

mode: 'ft'

data:
  max_seq_len: 512
  max_target_len: 512
  max_num_instances_per_task: 10000000
  add_task_name: False
  add_task_definition: True
  num_pos_examples: 0
  num_neg_examples: 0
  add_explanation: False
  tk_instruct: False
  exec_file_path: utils/ni_dataset.py
  data_dir: /protein/users/v-qizhipei/data/unimpt_finetune/splits/ncbi_pro2text_229k
  task_dir: /protein/users/v-qizhipei/data/unimpt_finetune/tasks

optim:
  name: adamw
  base_lr: 1e-3
  batch_size: 128
  epochs: -1
  total_steps: 50000
  warmup_steps: 1000
  lr_scheduler: cosine
  weight_decay: 0.0
  grad_clip: 0.0
  grad_acc: 8
  test_bsz_multi: 1

eval:
  every_steps: 1000
  steps: 100000 # whole test set

pred:
  every_steps: 1000
  every_epochs: 2

checkpoint:
  every_steps: 2000
  every_epochs: 2

hydra:
  job:
    chdir: True
  run:
    dir: ./logs/finetune_pro2text_local

test_task: pro2text
result_fn: test_pro2text_pred.tsv
run_test: False